extends ../main.layout.pug

block variables
  - var title = 'Блог';

block content
  section.hero.hero--blog
    .hero__socials
      ul.socials
        each social in ['vk','github','in']
          li.socials__item
            a(href="#").socials__link
              +icon(social, 'socials__icon')
              
    +burger

    .hero__content
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('avatar.png','user avatar','user__pic-img')
          .user__info
            +title('Блог','blog_header','title-img')
            .user__desc Статьи которые я ещё не написал

    .hero__arrow-down
      a(href="#") 
        +icon('arrow_down', 'hero__arrow-pic')

    +triangle('triangles--blog')

    .hero__bg
      img(src="./assets/images/backgrounds/mountains.jpg", alt="", srcset="")

  #articles-component
  
  form#form-form
    input(
          type="text" 
          placeholder="Логин"
          v-model="user.name"
        )
    input(
      type="password" 
      placeholder="Пароль"
      v-model="user.password"
    )
    button.modal-form__button(@click.prevent="login") Войти

block scripts
  script(src='./assets/scripts/blog.bundle.js')