mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`./assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`./assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin title(titleName, titleImage)
  .main__title
    h1 #{titleName}
    svg(class=`title__background-image`)
      use(xlink:href=`./assets/images/icons/sprite.svg#${titleImage}`)
  
mixin subtitle(subtitleName, subtitleClass)
  .main__subtitle
    h3(class=`${subtitleClass}`) #{subtitleName}
  
mixin triangle(className)
  .triangles(class=`${className}`)
    .triangle.triangle--left
    .triangle.triangle--right

mixin burger
  .hero__menu
    a(href="#").hamburger#open
      .hamburger__planks
  .overlay#overlay
    .overleft
    .overright
    nav.overlay-menu
      ul.overlay-menu__list
        li.overlay-menu__item
          a(href="works.html").overlay-menu--link Мои работы 
        li.overlay-menu__item
          a(href="blog.html").overlay-menu--link Блог  
        li.overlay-menu__item
          a(href="about.html").overlay-menu--link Обо мне
        li.overlay-menu__item
          a(href="index.html").overlay-menu--link Авторизация  
  
