mixin icon(iconName, iconClass)
  svg(class=`${iconClass}`)
    use(xlink:href=`./assets/images/icons/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
  img(src=`./assets/images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin title(titleName, titleImage, svgClass)
  .main__title
    h1 #{titleName}
    svg(class=`title__background-image ${svgClass}`)
      use(xlink:href=`./assets/images/icons/sprite.svg#${titleImage}`)
  
mixin subtitle(subtitleName, subtitleClass)
  .main__subtitle
    h3(class=`${subtitleClass}`) #{subtitleName}
  
mixin triangle(className)
  .triangles(class=`${className}`)
    .triangle.triangle--left
    .triangle.triangle--right

mixin burger
  .hero__menu#fullscreen-menu(:class="{'hero__menu--open' : changed}")
    .hamburger.hamburger--squeeze(@click="handleChange", :class="{'is-active' : changed}")
      .hamburger-box
        .hamburger-inner
    .overlay
      .overleft
      .overright
      nav.overlay-menu
        ul.overlay-menu__list
          - var menu = [["Мои работы", "works.html"], ["Обо мне", "about.html"], ["Блог", "blog.html"], ["Авторизация", "index.html"]];
          each item in menu
            li.overlay-menu__item
              a(href=item[1]).overlay-menu--link #{item[0]}
         
  
