footer.footer
  .footer__row
    .footer__col
      ul.menu
        -
          var navLinks = [
            {
              link:"works.html",
              title:"Мои работы"
            },{
              link:"about.html",
              title:"Обо мне"
            },{
              link:"blog.html",
              title:"Блог"
            },{
              link:"index.html",
              title:"Авторизация"
            }
          ]
        each item in navLinks
          li.menu__item
            a.menu__link(href=item.link) #{item.title}
    .footer__col.footer__col--justify-end
      ul.socials.socials--rounded
        -
          var socialLinks = [
            {
              link:"https://vk.com/ivart",
              title:"vk"
            },{
              link:"https://github.com/blckbrrynvdr",
              title:"github"
            },{
              link:"#",
              title:"in"
            }
          ];

        each item in socialLinks
          li.socials__item
            a(href=item.link).socials__link
              +icon(item.title, 'socials__icon')
  .footer__row
    .footer__col
      .footer__text.text-content
        p Я веб-разработчик из Тулы, и этот сайт я сделал
          | в рамках обучения в Школе онлайн образования LoftSchool. 
    .footer__col.footer__col--justify-end
      .footer__text.text-content
        p © Артур Врублевский | создано с любовью в LoftSchool | 2019

//- -
//-   var navLinks = [
//-     {
//-       link:"works.html",
//-       title:"Мои работы"
//-     },{
//-       link:"about.html",
//-       title:"Обо мне"
//-     },{
//-       link:"blog.html",
//-       title:"Блог"
//-     },{
//-       link:"index.html",
//-       title:"Авторизация"
//-     }
//-   ]

//- each item in navLinks
//-   .obj
//-     li.menu__item
//-       a.menu__link(href=item.link) #{item.title}
  
